@font-face{
	font-family: "Causten";
	src: url("../font/causten-bold-webfont.woff2") format("woff2"),
			url("../font/causten-bold-webfont.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: bold;
}
@font-face{
	font-family: "Causten";
	src: url("../font/Causten-Medium.woff2") format("woff2"),
			url("../font/Causten-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: medium;
}
@font-face{
	font-family: "CoreSansC";
	src: url("../font/CoreSansC-65Bold.woff2") format("woff2"),
			url("../font/CoreSansC-65Bold.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: semibold;
}