@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@font-face{
	font-family: "CoreSansC";
	src: url("../font/CoreSansC-65Bold.woff2") format("woff2"),
			url("../font/CoreSansC-65Bold.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: semibold;
}
@font-face{
	font-family: "Causten";
	src: url("../font/causten-regular-webfont.woff2") format("woff2"),
			url("../font/causten-regular-webfont.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: regular;
}
@font-face{
	font-family: "Causten";
	src: url("../font/causten-semi-bold-webfont.woff2") format("woff2"),
			url("../font/causten-semi-bold-webfont.woff") format("woff");
	font-display: swap;
	font-weight: 600;
	font-style: semibold;
}